<template>
    <div class="importExport">
        <div class="fileUploadContainer">
            <FileUpload text="Load YAML" :fileTypes="['.yml']" :callback="loadYaml" />
        </div>
        <div class="actionButtons">
            <ActionButton text="Save YAML" :action="saveYaml" />
            <ActionButton text="Save HKRB" :action="saveHkrb" />
        </div>
    </div>
</template>

<script>
    import ActionButton from '../../form/ActionButton.vue';
    import FileUpload from '../../form/FileUpload.vue';

    import yaml from 'js-yaml';
    import createYaml from '../../../lib/createYaml.js';

    import HKRB from 'ice-hail/src/hkrb.js';

    export default {
        components: {
          ActionButton, FileUpload
        },
        props: {
            file: Object
        },
        methods: {
            loadYaml(yamlText) {
                const yamlData = yaml.safeLoad(yamlText, 'utf8');
                this.$emit("update-file", yamlData);
            },
            saveYaml() {
                const yamlText = createYaml(this.file);
                download(yamlText, "model.yml", "text/yaml");
            },
            saveHkrb() {
                const yamlText = createYaml(this.file, false);
                const hkrb = new HKRB();
                hkrb.create(yamlText);
                download(hkrb.getBuffer(), "model.hkrb", "binary/hkrb");
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '../../../styles/colors.scss';
    @import '../../../styles/tabs.scss';
    

    div.importExport {
        @extend %tabFlexContainer;
    }

    div.fileUploadContainer {
        height: 54px;
    }

    div.actionButtons {
        width: 100%;
        text-align: center;
    }
</style>
