<template>
    <div class="file-container" @drop="dropHandler">
        <div class="text">{{text}}</div>
        <span class="info">(Click / Drag &amp; Drop)</span>
        <input type="file" @change="fileInputHandler" :accept="fileTypes.join(',')" />
    </div>
</template>

<script>
    export default {
        props: {
            callback: Function,
            text: String,
            asBlob: {
                type: Boolean,
                default: false
            },
            fileTypes: {
                type: Array,
                default: () => []
            }
        },
        methods: {
            fileInputHandler(ev) {
                ev.preventDefault();
                if(ev.target.files.length > 0) {
                    this.loadFile(ev.target.files[0]);
                }
            },
            dropHandler(ev) {
                ev.preventDefault();
                if (ev.dataTransfer.files.length > 0) {
                    this.loadFile(ev.dataTransfer.files[0]);
                }
            },
            loadFile(file) {
                if(this.asBlob) 
                {
                    return this.callback(file);
                }

                const reader = new FileReader();
                reader.onload = () => {
                    this.$el.querySelector("input").value = "";
                    this.callback(reader.result, file.name);
                };  
                reader.readAsText(file);
            }
        }
    }
</script>

<style scoped lang="scss">
    @import './../../styles/colors.scss';

    div.file-container {
        display: inline-block;
        border: 1px solid $formColor;
        background: none;
        margin: 2px;
        padding: 0;
        width: calc(100% - 8px);
        height: 46px;
        color: $formColor;
        text-align: center;

        transition: color ease-in-out 150ms, 
             border-color ease-in-out 150ms;

        &:hover, &:active {
            color: $formColorActive;
            border-color: $formColorActive;
        }
    }

    div.text {
       margin-top: 2px; 
    }

    span.info {
        font-size: 0.7em;
        opacity: 0.6;
    }

    input {
        position: relative;
        top: -44px;
        left: -1px;
        width: calc(100% + 3px);
        height: calc(100% + 2px);
        margin: 0;
        padding: 0;
        opacity: 0.00001;
        background: none;
    }

</style>
