<template>
    <div>
        <label>{{text}}</label>
        <input type="text" :value="value" @input="$emit('input', $event.target.value)" />
    </div>
</template>

<script>
    export default {
        props: {
            text: String,
            value: String
        }
    }
</script>

<style scoped lang="scss">
    @import '../../styles/colors.scss';
    @import '../../styles/sizes.scss';

    div {
        display: flex;
        justify-content: flex-start;
        padding-left: 4px;
    }

    label {
        font-size: $fontSizeLabel;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    input {
        flex: 1;
        outline: none;
        height: 22px;
        color: white;

        background: none;
        border: 1px solid $formColor;
        padding: 0 2px;

        margin: 5px;
        font-size: 0.8em;

        transition: color ease-in-out 150ms, 
                    border-color ease-in-out 150ms;

        &:hover, &:active {
            border-color: $formColorActive;
        }

    }
</style>
