//########// Theme colors //########//

$themeBlue: #84d2ff;
$themeBlueDark: #009bf9;

$themeOrange: #e6b171;
$themeOrangeDark: #e9a24a;

$themeBg: #2e2e2e;
$themeBgDark: #171717;

$themeGray: #333333;
$borderGray: $themeGray;

//########// Form colors //########//
$formColor: $themeOrange;
$formColorActive: $themeOrangeDark;

//########// Text colors //########//

$fontColorLight: #eeeeee;
$fontColorDark: #888;