@import 'colors.scss';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: #121212;
  color: $fontColorLight;
  font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #696969;
}
::-webkit-scrollbar-thumb:hover {
  background: #646464;
}
::-webkit-scrollbar-thumb:active {
  background: #6c6c6c;
}
::-webkit-scrollbar-track {
  background: #202020;
}
::-webkit-scrollbar-track:hover {
  background: #222222;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}