<template>
  <div id="app">
    <nav>
        <div class="actions">
          <Tools :file="file" :updateFile="updateFile" :renderer="renderer" />
        </div>
    </nav>
    <main>
      <Renderer v-bind:renderer="renderer"/>
    </main>
    <Footer/>
    </div>
</template>

<script>
import uuid from 'uuid/v1';

import Footer from '../components/Footer.vue';
import Renderer from '../components/editor/Renderer.vue';
import Renderer3D from '../lib/renderer3d';
import TextInput from '../components/form/TextInput.vue';

import Tools from '../components/editor/Tools.vue';

export default {
  components: {
    Footer, Renderer, Tools
  },
  data() {
    return {
      file: {
        entries: [
          {
              name: "Box_g",
              entries: [],
          }
        ]
      },
      renderer: new Renderer3D()
    }    
  },
  methods: {
    updateFile(file) {
      for(let chunk of file.entries)
      {
        for (let entry of chunk.entries) 
        {
          if(entry.uuid == null) {
            entry.uuid = uuid();
          }

          if(entry.rotation == null) {
            entry.rotation = [0,0,0];
          }

          if(entry.sizeHalf == null) {
            entry.sizeHalf = entry.scale
              ? [entry.scale[0], entry.scale[1], entry.scale[2]]
              : [1.0, 1.0, 1.0];
          }

          if(entry.radius == null) {
            entry.radius = 1.0;
          }

          if(!entry.flags) {
            entry.flags = {};
          }
        }
      }
      this.file = file;
    }
  }
}
</script>

<style lang="scss">
@import '../styles/global.scss';
</style>
<style scoped lang="scss">

@import '../styles/colors.scss';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 22px;
  grid-template-columns: 249px 1fr;
  grid-template-areas: "nav main" "footer footer";
}

nav{
    grid-area: nav;

    display: flex;
    flex-direction: column;
    position: fixed;
    height: calc(100% - 22px);

    .entries {
      flex: 1;
      overflow: auto;
    }

    background-color: $themeBgDark;
    border-right: 1px solid $borderGray;
}

main{
    grid-area: main;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer{
    grid-area: footer;
    padding-top: 0.25em;
}

.actions {
  width: 270px;
  max-height: 100%;
}

</style>
