<template>
  <div id="app">
    <div class="title">
      <img alt="Vue logo" src="./../assets/logo.png"/>

      <h1>Ice-Hail<sup>β</sup></h1>
      <p> 
        An online generator for havok collision files
      </p>
      
      <ActionButton text="Start" :action="openEditor"/>

      <p class="small">
        This is still a prototype and might not work correctly
      </p>
      <p class="small">
        <a target="_blank" href="https://gitlab.com/ice-hail/ice-hail.gitlab.io">Source Code</a>
        |
        <a target="_blank" href="https://gitlab.com/ice-hail/ice-hail.gitlab.io/blob/master/CHANGELOG.md">Changelog</a>
      </p>
    </div>
    <Footer/>
  </div>
</template>

<script>
import ActionButton from '../components/form/ActionButton.vue';
import Footer from '../components/Footer.vue'

export default {
  components: {
    ActionButton, Footer
  },
  methods: {
    openEditor() {
      window.app.currentRoute = "editor";
    },
  }
}
</script>

<style scoped lang="scss">

@import '../styles/colors.scss';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-attachment: fixed;
}

Footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 4px 0;
}

.title {
    color: #eeeeee;
}

p {
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
}

a {
  color: $themeOrange;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.2em;
  font-size: 2em;
  margin: 15px 0 10px 0;
}

img {
  animation:spin 8s linear infinite;
  animation-timing-function: cubic-bezier(1.0, 0.0, 0.5, 1.0);

  @keyframes spin { 
    from { transform:rotateY(0deg); } 
    to { transform:rotateY(360deg); } 
  }
}

.small {
  font-size: 0.75em;
  color: rgb(189, 189, 189);

  a {
    margin: 0 4px;
  }
}

sup {
  color: $themeBlue;
}

</style>
